#!/usr/bin/env bash

alias sopen="open -a Sublime\ Text"
alias fopen="open -a Finder"
alias copy=pbcopy
alias paste=pbpaste

# Always use color output for `ls`
alias ls="ls --color=auto"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# watch dir modif and run command
function watch {
  watch_dir=$1
  shift
  $@
  fswatch -o --latency=1 $watch_dir | while read -r; do $@; done
}

alias jn='jupyter notebook'

