#!/usr/bin/env bash


alias copy=pbcopy
alias paste=pbpaste

# Always use color output for `ls`
alias ls="ls --color=auto"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
